<a href="https://colab.research.google.com/github/tec03/ParaAssignment01-/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

In [ ]:
#Edgar Lópes Valdés A01339939 Actividad 1 IBM

#Módulo 1 Python Basics

# Modulo 1

In [ ]:

#imprimir Hello Python 101
print('Hello Python 101')

#Laboratior 1 Pregunta 1 resultado de print("Hello\nWorld!")
print("Hello\nWorld!")

#Laboratorio 1 Pregunta 2 # print('Hello World!')
# print('Hello World!')

#Para el tipo se puede castear a entero y el resultado es int
#What is the type of the following: int(1.0)?
print(type(int(1.0)))

#convertir un 1 a booleano
print(bool(1))

Hello Python 101
Hello
World!
<class 'int'>
True

Las variables atienden al orden normal de jerarquia de operaciones.
Ejemplo 

si se tiene 
y = 2
j = 1
x = j + 1*y

entonces el resultado de x es 3

In [ ]:
print(43 + 60 + 16 + 41)
print(50 - 60)
print(5 * 5)
print(25 / 5)

#Let's write an expression that calculates how many hours there are in 160 minutes:

hour = 60
minutes = 160

print('En 160 minutos hay ' + str(minutes/hour) +' horas ')

160
-10
25
5.0
En 160 minutos hay 2.6666666666666665 horas

In [ ]:
#String Operations 
'''Consider the following string:

Numbers = "0123456"
How would you obtain the even elements?'''
Numbers = "0123456"
#Regresa los valores par
print(Numbers[::2])

'''What is the result of the following line of code:

"0123456".find('1')'''

#Regresa el indice donde se encontró el número
print("0123456".find('1'))

#Cual es el valor y = (3 + 2) * 2
y = (3 + 2) * 2
print(y)

#In Python, what is the result of the following operation '1'+'2'
print('1'+'2')

0246
1
10
12

# Modulo 2

Listas y tuplas
En ambos se pueden utilizar los indices, es posible concatenar las estructuras. Una tupla puede contener otra tupla. 
No son mutables
Las listas si son mutables. 
Se pueden tener listas dentro de listas y tuplas dentro de tuplas (nesting) . Las tuplas tienen mas de un tipo

In [ ]:
#ultimo elemento de un tupla
A=(0,1,2,3)
print(A[3])
print(A[-1])

#tuplas
tuple1 = ("disco", 10, 1.2)

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(type(tuple1))


tuple2 = tuple1 + ("hard rock", 10)
tuple2

3
3
disco
10
1.2
<class 'tuple'>

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
#Slicing
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
#Sorting
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print(NestedT)

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [ ]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple
#Find the length of the tuple, genres_tuple:

lon = len(genres_tuple)
lon

#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
# Write your code below and press Shift+Enter to execute
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

Listas

In [ ]:
#partir listas
B=["a","b","c"]
B[1:]

# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [ ]:
print('Before change:', A)
del(A[0])
print('After change:', A)

#Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
B = [2, 1, 'd']
A = [1, 'a']
C = A+B
C

Before change: [1.2]
After change: []

[1, 'a', 2, 1, 'd']

Lab Sets: Los sets tienen valores únicos, por lo que se pueden utilizar en casos como IDs o similares

In [ ]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [ ]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [ ]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [ ]:

album_set1.difference(album_set2)

{'Thriller'}

In [ ]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [ ]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

Dictionarios - Contienen clave valor, es util para encontrar valores de manera rapida, pueden contener solo numeros o listas enterasdentro de su coleccion

In [ ]:
D = {'x':0}
D.values()
#regresa los valores, lo mismo se puede hacer para keys

dict_values([0])

In [ ]:
D.keys()

dict_keys(['x'])

In [ ]:
#Para sacar valores especificos
print(D['x'])

0

Ejercicios del Laboratorio

#Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

In [ ]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [ ]:
# Access to the value by the key

Dict["key1"]

1

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

6

In [ ]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [ ]:
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [ ]:
soundtrack_dic.values()

dict_values(['1992', '1977'])

# Modulo 3

Conditions and Branching:

Es posible utilizar condiciones if y switches para generar posibilidades en un programa

Loops existen whiles y fors ambas sirven para iterar una coleccion o realizar una accion determinado numero de ocasiones o hasta que se cumpla una condicion

Functions

Objects and Classes

In [ ]:
# Inequality Sign

i = 6
i != 6

False

In [ ]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [ ]:

'B' > 'A'

True

In [ ]:

'BA' > 'AB'

True

In [ ]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [ ]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [ ]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [ ]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [ ]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [ ]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

In [ ]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [ ]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [ ]:
# Call the function add()

add(2)

2 if you add one 3

3

In [ ]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone
No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

In [ ]:
# Create a class Circle
#import matplotlib.pyplot as plt

class Circle(object):
    
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color 
    
    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)
    
    # Method
    def drawCircle(self):
        plt.gca().add_patch(plt.Circle((0, 0), radius=self.radius, fc=self.color))
        plt.axis('scaled')
        plt.show()

Classes - sirven como moldes para crear objetos, estos son llamdos instancias de la clase

In [ ]:
# Create an object RedCircle

RedCircle = Circle(10, 'red')
# Find out the methods can be used on the object RedCircle

dir(RedCircle)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'add_radius',
 'color',
 'drawCircle',
 'radius']